---
const { pathname } = Astro.url;
const currentPage = parseInt(pathname.split("/").pop() ?? "") || 1;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="flex h-screen w-screen flex-col items-center justify-center">
    <div class="flex flex-col items-center justify-center gap-16">
      <div class="flex w-full items-center justify-between">
        <a
          class={currentPage <= 2 ? "opacity-0 pointer-events-none" : ""}
          href={`${currentPage - 1}`}>⬅️ Back</a
        >
        <h1 class="text-2xl">Presentation</h1>
        <a
          class={currentPage >= 5 ? "opacity-0 pointer-events-none" : ""}
          href={`/presentation/${currentPage + 1}`}>Next ➡️</a
        >
      </div>
      <div
        class="flex h-[28rem] w-[48rem] flex-col items-center justify-center shadow-md ring-1"
      >
        <slot />
      </div>
    </div>
  </body>
</html>
