@view-transition {
  navigation: auto;
}

::view-transition-old(presentation-canvas) {
    animation: slide-out 300ms ease-in-out;
}

::view-transition-new(presentation-canvas) {
    animation: slide-in 300ms ease-in-out;
}

::view-transition-old(presentation-canvas-reverse) {
    animation: slide-out-reverse 300ms ease-in-out;
}

::view-transition-new(presentation-canvas-reverse) {
    animation: slide-in-reverse 300ms ease-in-out;
}

@keyframes slide-out-reverse {
    0% {
        transform: translateX(0);
        opacity: 100;
    }
    100% {
        transform: translateX(50vw);
        opacity: 0;
    }
}

@keyframes slide-in-reverse {
    0% {
        transform: translateX(-50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100;
    }
}


@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 100;
    }
    100% {
        transform: translateX(-50vw);
        opacity: 0;
    }
}
@keyframes slide-in {
    0% {
        transform: translateX(50vw);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 100;
    }
}