---
import "../../src/styles/box.css";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    class="flex h-screen w-screen flex-col items-center justify-center gap-8"
  >
    <h1>Home!</h1>

    <div
      id="my-box"
      onclick="handleClick()"
      class="my-red-box flex h-28 w-28 cursor-pointer items-center justify-center bg-red-500"
    >
      Click me
    </div>

    <script is:inline>
      const $box = document.getElementById("my-box");

      const moveBox = () => {
        $box.classList.toggle("translate-x-36");
      };

      function handleClick(e) {
        if (!document.startViewTransition) {
          return;
        }
        document.startViewTransition(() => moveBox());
      }
    </script>
  </div>
</BaseLayout>
